* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
}

img.nav-logo {
  float: left;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list .nav-link {
  display: block;
  padding: 1rem;
  color: grey;
}

.nav-button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  background-image: linear-gradient(to right, #2FD06A 0%, #2BB8D3 100%);
  color: #fff;
}

.btn-grad {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%)
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
