@import url(https://fonts.google.com/specimen/Public+Sans);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
}

img.nav-logo {
  float: left;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list .nav-link {
  display: block;
  padding: 1rem;
  color: grey;
}

.nav-button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  background-image: linear-gradient(to right, #2FD06A 0%, #2BB8D3 100%);
  color: #fff;
}

/* .hero-section {
  height: 300px;
} */

.col-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(20px, auto);
  gap: 20px 20px;
}

.title-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-hero .title-desc {
  margin-bottom: 20px;
}

.title-img {
  background-image: url("assets/bg-intro-desktop.svg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-hero {
  width: 100%;
  max-width: 500px;
  height: auto;
  float: right;
}
